.bg-light {
    background-image: url('https://images.unsplash.com/photo-1582820795651-f358eebe4406?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80');   
    background-size: cover;
}

.input {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(255, 255, 255, 0.5);
    color: black;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
    margin-right: 10%;
}

.header {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.input a {
    width: 120px;
    height: 40px;
    font-weight: bold;
    margin-top: 10px;
    transform: translateY(200%);
}


.input span {
    transform: translateY(300%);
}